@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/Montserrat-Regular.ttf);
}

* {
  font-family: Montserrat;
}

html,
body {
  overflow-x: hidden;
}

.landing-quote-image {
  mask-image: linear-gradient(to right, transparent 7%, black);
}

.Interstellar {
  mask-image: linear-gradient(to bottom, transparent 1%, black);
}
svg:hover .heart {
  fill: red;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  border-radius: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
