@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Helvetica;
  src: url(@/assets/fonts/HelveticaGeoMedium.ttf);
}

* {
  font-family: Montserrat;
  font-family: Helvetica;
}

html,
body {
  overflow-x: hidden;
}

.landing-quote-image {
  mask-image: linear-gradient(to right, transparent 7%, black);
  background-color: black;
}

.Interstellar {
  mask-image: linear-gradient(to bottom, transparent 1%, black);
  opacity: 90%;
}

svg:hover .heart {
  fill: red;
}

input[type="file"],
input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  border-radius: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}